<h2 mat-dialog-title>Bid</h2>
<mat-dialog-content>
    <p>Highest bid: {{ highestBidLabel }}</p>

    <form [formGroup]="selectCall">
        <mat-form-field>
            <mat-label>Your bid</mat-label>
            <mat-select formControlName="bidKey">
                <mat-option *ngFor="let bidOption of bidOptions" [value]="bidOption.label">{{ bidOption.label }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button type="button" (click)="onPass()">Pass</button>
  <button mat-button type="button" [disabled]="!bidOptions.length" (click)="onBid()" cdkFocusInitial>Bid</button>
</mat-dialog-actions>
