<h2 mat-dialog-title>Bid</h2>
<mat-dialog-content>
    <p>Highest bid: <app-bid-label [label]="highestBidLabel"></app-bid-label></p>

    <form [formGroup]="selectCall">
        <label class="bid-field-label" for="bidKey">Your bid</label>
        <mat-form-field appearance="outline">
            <mat-select formControlName="bidKey">
                <mat-option *ngFor="let bidOption of bidOptions" [value]="bidOption.label">
                    <app-bid-label [label]="bidOption.label"></app-bid-label>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button type="button" (click)="onPass()">Pass</button>
  <button mat-button type="button" [disabled]="!bidOptions.length" (click)="onBid()" cdkFocusInitial>Bid</button>
</mat-dialog-actions>
