.game-room {
    display: grid;
    grid-template-columns: 6fr 4fr;
    height: 100dvh;
    overflow: hidden;
    .bridge-table {
        width: 59vw;
        height: 100dvh;
        min-height: 0;
    }
    .game-info {
        width: 41vw;
        height: 100dvh;
        min-height: 0;
    }
}



@media screen and (orientation:portrait) {
    .game-room {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(0, 64svh) minmax(0, 36svh);
        height: 100svh;
        .bridge-table  {
            grid-column: 1;
            grid-row: 1;
            width: 100vw;
            height: 64svh;
            min-height: 0;
        }
        .game-info {
            grid-column: 1;
            grid-row: 2;
            width: 100vw;
            height: 36svh;
            min-height: 0;
        }
    }
}
