<div [ngClass]="{
    'player-container-vertical': orientation === 'left' || orientation === 'right',
    'player-container-horizontal': orientation === 'bottom' || orientation === 'top',
    'player-container-side': orientation === 'left' || orientation === 'right',
    'player-container-end': orientation === 'bottom' || orientation === 'top',
    'player-container-top': orientation === 'top',
    'player-container-bottom': orientation === 'bottom'
}">
    <div *ngFor = "let card of cards" class="card">
        <app-card  [card]="card" [orientation]="orientation" [serial]="serial" [faceUp]="_cardShown" [active]="active"></app-card>
    </div>
</div>
