.img {
    display: grid;
    
    img {
        grid-area: image;
        height: 12svh;
        width: 4vw;
    }
}

@media (max-width: 978px) and (orientation:landscape){
    .img {
        img {
            height: 10svh;
        }
    }
}

@media screen and (orientation:portrait) {
    .img {
        img {
            height: 7svh;
            width: 8vw;
        }
    }
}


.img {
    .played-card {
        height: 18svh;
        width: 10vw;
    }
}


@media screen and (orientation:portrait){
    .img {
        .played-card {
            height: 8svh;
            width: 10vw;
        }
    }
}
