/* #playerTwo {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
} */


.left-player {
    position: absolute;
    left: 10px;
    width: 20px;
}

.right-player {
    position: absolute;
    right: 700px;
    width: 20px;
}

.top-player {
    position: absolute;
    left: 100px;
    top: 10px;
}

.bottom-player {
    position: absolute;
    left: 100px;
    top: 650px;
}

.left-player-name {
    position: absolute;
    left: 60px;
    top: 280px;
    width: 20px;
}

.top-player-name {
    position: absolute;
    left: 300px;
    top: 60px;
}

.bottom-player-name {
    position: absolute;
    left: 300px;
    bottom: 60px;
}

.right-player-name {
    position: absolute;
    right: 40px;
    top: 280px;
}

.roundCompleteButton {
    position: absolute;
    left: 600px;
    top: 100px;
}

.undo {
    position: absolute;
    left: 600px;
    top: 150px;
}

.reshuffle {
    position: absolute;
    left: 600px;
    top: 200px;
}

button:hover {
    background-color: rgb(182, 230, 173);
}