<div class="points">
    <div class="points-left">
        Current Call - {{cardService.currentCall}}<br>
        Sets Taken by you - {{cardService.ownerTeamSets}}<br>
        Sets Taken by opponent- {{cardService.opponentTeamSets}}<br>
        Your points - {{cardService.ownerTeamPoints}}<br>
        Opponent points - {{cardService.opponentTeamPoints}}
    </div>
    <div class="points-right">
        Room No - {{ connectionService.roomId}}<br>
        Connected Users - {{ connectionService.serverUsers.connectedUsers}}<br>
        Active Users - {{ connectionService.serverUsers.activeUsers }}<br>
        Games:  &#160; Team 1: {{cardService.activeGamesByTeam1}}, &#160; Team2: {{cardService.activeGamesByTeam2}}<br>
    </div>
    <div class="video-1">
        <video id="video-1" autoplay muted></video>
    </div>

    <div class="video-2">
        <video id="video-2" autoplay muted></video>
    </div>

    <div class="video-3">
        <video id="video-3" autoplay muted></video>
    </div>

    <div class="video-4">
        <video id="video-4" autoplay muted></video>
    </div>
</div>