<div class="table-container">
    <div class="top-player-name" [ngClass]="{'active-card': nextPlayer === 'top'}">
        {{connectionService.playerTopName}}
        <span *ngIf="playerBids[connectionService.orientationToSerialMapping['top']] as bid" class="player-bid"><app-bid-label [label]="bid"></app-bid-label></span>
    </div>
    <ng-container *ngIf="cardService.cardsOnTable['top']?.card as card">
        <div class="top-played-card" >
            <app-card [card]="card" [faceUp]="true" [playedCard]="true"> </app-card>
        </div>
    </ng-container>
    
    <div class="bottom-player-name" [ngClass]="{'active-card': nextPlayer === 'bottom'}">
        {{connectionService.playerBottomName}}
        <span *ngIf="playerBids[connectionService.orientationToSerialMapping['bottom']] as bid" class="player-bid"><app-bid-label [label]="bid"></app-bid-label></span>
    </div>
    <ng-container *ngIf="cardService.cardsOnTable['bottom']?.card as card">
        <div class="bottom-played-card" >
            <app-card [card]="card" [faceUp]="true" [playedCard]="true"> </app-card>
        </div>
    </ng-container>
    

    <div class="left-player-name" [ngClass]="{'active-card': nextPlayer === 'left'}">
        {{connectionService.playerLeftName}}
        <span *ngIf="playerBids[connectionService.orientationToSerialMapping['left']] as bid" class="player-bid"><app-bid-label [label]="bid"></app-bid-label></span>
    </div>
    <ng-container *ngIf="cardService.cardsOnTable['left']?.card as card">
        <div class="left-played-card" >
            <app-card [card]="card" [faceUp]="true" [playedCard]="true"> </app-card>
        </div>
    </ng-container>
    

    <div class="right-player-name" [ngClass]="{'active-card': nextPlayer === 'right'}">
        {{connectionService.playerRightName}}
        <span *ngIf="playerBids[connectionService.orientationToSerialMapping['right']] as bid" class="player-bid"><app-bid-label [label]="bid"></app-bid-label></span>
    </div>
    <ng-container *ngIf="cardService.cardsOnTable['right']?.card as card">
        <div class="right-played-card">
            <app-card [card]="card" [faceUp]="true" [playedCard]="true" #playedCard> </app-card>
        </div>
    </ng-container>
    

</div>
